@charset "utf-8";
/*CSS Document*/
/* 
  Version 1.0
  Web Application: HEIMS
  Powered by: Cliffcreations.com
  Authors: Praveen V, Sarath S
  License: Non commercial
*/


/* -----------------------------------*/
/* ---------->>> RED <<<-----------*/
/* -----------------------------------*/
.site-color-red { background-color: #C4183A!important; }
.site-color-green {     
    background-color: #6C6D5B;
}